.A {
    height: 200px;
    background-color: aqua;
}

.B {
    height: 200px;
    background-color: rgb(12, 12, 12);
}

.C {
    height: 200px;
    background-color: rgb(64, 15, 197);
}

.D {
    height: 200px;
    background-color: rgb(190, 15, 117);
}

.E {
    height: 200px;
    background-color: rgb(160, 194, 36);
}

.F {
    height: 400px;
    background-color: rgb(202, 47, 9);
}

.conteiner {
    height: 200px;
    width: 100%;
}